.login-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
align-items: center;
background-color: rgb(207, 207, 207);


}

.login-form{
    padding: 15px;
background-color: rgb(174, 177, 190);
}

.box-shadow{
    display: block;
    -webkit-box-shadow: 33px 39px 81px 0px rgba(163,188,204,0.85);
-moz-box-shadow: 33px 39px 81px 0px rgba(163,188,204,0.85);
box-shadow: 33px 39px 81px 0px rgba(163,188,204,0.85);
}