.contactButton {
    margin: 3px;
        margin-right: 5px;
    }
    
    .navCon {
    
        margin: 2px auto;
        width: 95%;
    }
    
    .tableCon{
        margin: 2px auto;
        display: grid;
        width: 95%;
        max-height: 100vh;
        max-width: 220vh;
        overflow: auto;
    }

    .mainNav{

        padding-right: 2.5%;
    }